extends layout_modular.pug

block content
  .container.mt-5
    h2 Registrar Internación

    if error
      .alert.alert-danger= error
    if exito
      .alert.alert-success= exito

    form(action="/admisiones" method="POST")
      .mb-3
        label.form-label(for="id_paciente") Paciente
        input.form-control(type="number", name="id_paciente", id="id_paciente", required)

      .mb-3
        label.form-label(for="id_habitacion") Habitación
        input.form-control(type="number", name="id_habitacion", id="id_habitacion", required)

      .mb-3
        label.form-label(for="id_cama") Cama
        input.form-control(type="number", name="id_cama", id="id_cama", required)

      button.btn.btn-primary(type="submit") Registrar Internación
      a.btn.btn-secondary.ms-2(href="/dashboard") Cancelar
