extends layout_modular

block content
  h1.text-center.mb-4 Gestión de Camas


  .table-responsive
    table#tablaCama.table.table-striped.table-bordered
      thead
        tr
          th Nombre
          th Acciones
      tbody
        if camas && camas.length
          each cama in camas
            tr
              td= cama.nombre
              td
                button.btn.btn-sm.btn-primary.me-1.edit-btn(data-id=cama.id_cama)
                  i.fas.fa-pen
                button.btn.btn-sm.btn-danger.me-1.delete-btn(data-id=cama.id_cama)
                  i.fas.fa-trash
        else
          p.text-center.text-muted No hay camas registradas.

  // Librerías DataTables y jQuery
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
  script(src="/js/camas.js")  // JS específico para camas
