extends layout_modular

block content
  .container.mt-5
    h3 Cambiar contraseña
    form(action="/api/usuarios/cambiar-password", method="POST")
      .mb-3
        label(for="actual") Contraseña actual
        input#actual.form-control(type="password", name="actual", required)
      .mb-3
        label(for="nueva") Nueva contraseña
        input#nueva.form-control(type="password", name="nueva", required)
      button.btn.btn-primary(type="submit") Guardar cambios
