extends layout_modular

block content
  h1 Panel de Administración
  p Bienvenido/a al sistema de gestión.
  
  .container-fluid.px-4
    h1.mt-4 Panel
    ol.breadcrumb.mb-4

    // NUEVA SECCIÓN: Buscar camas disponibles por fecha
    .row.mb-4
      .col-12
        .card
          .card-header.bg-info.text-white
            h5.mb-0 Buscar camas disponibles
          .card-body
            form#formBuscarCamas
              .row.g-2.align-items-end
                .col-md-4
                  label(for="fecha_busqueda") Fecha de internación
                  input#fecha_busqueda.form-control(type="date" required)
                .col-md-2
                  button#btnBuscarCamas.btn.btn-primary(type="submit")
                    i.fas.fa-search.me-1
                    | Buscar camas libres

    // Aquí se mostrará la tabla de resultados (datatable)
    .row
      .col-12
        #tablaCamasContainer

    .row
      .col-xl-3.col-md-6
        .card.bg-primary.text-white.mb-4
          .card-body Total de pacientes
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href="#") Ver detalles
            div.small.text-white
              i.fas.fa-angle-right

      .col-xl-3.col-md-6
        .card.bg-warning.text-white.mb-4
          .card-body Altas médicas hoy
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href="#") Ver registros
            div.small.text-white
              i.fas.fa-angle-right

      .col-xl-3.col-md-6
        .card.bg-success.text-white.mb-4
          .card-body Camas disponibles
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href="#") Ver habitaciones
            div.small.text-white
              i.fas.fa-angle-right

      .col-xl-3.col-md-6
        .card.bg-danger.text-white.mb-4
          .card-body Internaciones activas
          .card-footer.d-flex.align-items-center.justify-content-between
            a.small.text-white.stretched-link(href="#") Ver internaciones
            div.small.text-white
              i.fas.fa-angle-right

    // En la sección head o justo antes de cerrar body
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")        
    script(src="/js/dashboard.js")        