extends layout_modular

block content
  h1.text-center.mb-4 Agregar Nueva Habitación

  form(method="POST" action="/habitacion/agregar" class="mb-4")
    .row
      .col-md-4
        label(for="id_sector") Sector:
        select#id_sector.form-control(name="id_sector" required)
          option(value="") Seleccionar sector
          each sector in sectores
            option(value=sector.id_sector)= sector.nombre
      .col-md-4
        label(for="num") Número:
        input#num.form-control(type="number" name="num" required)
      .col-md-4
        label(for="id_cama") Cama:
        select#id_cama.form-control(name="id_cama" required)
          option(value="") Seleccionar cama
          each cama in camas
            option(value=cama.id_cama)= cama.nombre
    .row
      .col-md-2
        label(for="estado") Estado:
        select#estado.form-control(name="estado" required)
          option(value="1") Activo
          option(value="0") Inactivo
      .col-md-10.mt-4
        button.btn.btn-success(type="submit") Agregar Habitación
    .row.mt-2
      .col-md-12
        a.btn.btn-secondary(href="/habitacion/lista") Ver Lista de Habitaciones
