doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sistema Hospitalario

    link(rel="stylesheet", href="/sb-admin-2/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/sb-admin-2/css/sb-admin-2.min.css")
    link(rel="stylesheet", href="/css/style.css")

  body
    // NAVBAR (siempre visible)
    include ./partials/navbar.pug

    div#layoutSidenav_nav
      include ./partials/sidebar.pug

      div#layoutSidenav_content
        main
          block content

        footer.py-4.bg-light.mt-auto
          div.container-fluid.px-4
            div.d-flex.align-items-center.justify-content-between.small
              div.text-muted © 2025 Tu Clínica
              div
                a(href="#") Privacy Policy
                | ·
                a(href="#") Terms & Conditions

    // SCRIPTS
    script(src='/sb-admin-2/vendor/jquery/jquery.min.js')
    script(src='/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/sb-admin-2/js/sb-admin-2.min.js')
    script(src='/js/script.js')
