doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author", content="")
    title Dashboard - SB Admin
    link(rel="stylesheet", href="/sb-admin/css/bootstrap.min.css")
    link(rel="stylesheet", href="/sb-admin/css/styles.css")
    link(rel="stylesheet", href="/css/style.css")
    
  body(class="sb-nav-fixed")
    include partials/navbar

    if typeof autenticado !== 'undefined' && autenticado
      div#layoutSidenav
        include partials/sidebar
        div#layoutSidenav_content
          main
            block content
    else
      main
        block content
          footer.py-4.bg-light.mt-auto
            div.container-fluid.px-4
              div.d-flex.align-items-center.justify-content-between.small
                div.text-muted © 2025 Tu Clínica
                div
                  a(href="#") Privacy Policy
                    | ·
                  a(href="#") Terms & Conditions

    

    
    script(src="/sb-admin/js/bootstrap.bundle.min.js")
    script(src="/js/script.js")

