extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      h1.text-center.px-4.pt-5 Gestión de Movimientos

      .table-responsive
        table#tablaMovimiento.table.table-striped.table-bordered
          thead
            tr
              th Nombre
              th Acciones
          tbody
            if movimientos && movimientos.length
              each movimiento in movimientos
                tr 
                  td= movimiento.nombre
                  td
                    button.btn.btn-sm.btn-primary.me-1.edit-btn(data-id=movimiento.id_mov)
                      i.fas.fa-pen
                    button.btn.btn-sm.btn-danger.me-1.delete-btn(data-id=movimiento.id_mov)
                      i.fas.fa-trash

            else
                p.text-center.text-muted No hay movimientos registrados.

      // Librerías DataTables y jQuery
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
      link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css") 
      script(type="module", src="/js/movimiento.js")  
