extends layout_modular

block content
  .admin-hero
    h1.text-center.px-4.text-primary.fw-bold Panel de Salud

    if usuario
      p.text-end.text-muted
        strong Usuario: 
        | #{usuario.nombre} #{usuario.apellido}

    h4.mt-4.mb-3.text-center.fw-bold Internaciones asignadas

    .table-responsive
      table#tablaPacientes.table.table-striped.table-bordered.w-100
        thead
          tr
            th DNI
            th Nombre completo
            th Cama
            th Fecha de ingreso
            th Motivo ingreso
            th Acciones
        tbody


      // Scripts
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
      script(src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js")
      link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
      link(rel="stylesheet", href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css")
      script(src="/js/panelSalud.js")
