extends layout_modular

block content
  .container.mt-5
    h3 Recuperar contraseña
    form(action="/api/usuarios/recuperar-password", method="POST")
      .mb-3
        label(for="email") Email registrado
        input#email.form-control(type="email", name="email", required)
      button.btn.btn-warning(type="submit") Enviar enlace
