extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      .row.justify-content-center
        .col-md-6
          .card.shadow
            .card-body
              h3.text-center.mb-4 Restablecer contraseña

              if error
                .alert.alert-danger.text-center#errorMensaje= error
              else
                .alert.alert-danger.text-center.d-none#errorMensaje

              form#formRestablecerPassword(method="POST", action=`/api/recuperacion/restablecer-password/${token}`, data-token=token)
                
                .mb-3
                  label.form-label(for="inputNueva") Nueva contraseña
                  .input-group
                    input#inputNueva.form-control(type="password", name="nueva", required, placeholder="Nueva contraseña")
                    button.btn.btn-outline-secondary(type="button", onclick="togglePassword('inputNueva', this)") 👁

                .mb-3
                  label.form-label(for="inputConfirmar") Confirmar contraseña
                  .input-group
                    input#inputConfirmar.form-control(type="password", name="confirmar", required, placeholder="Confirmar contraseña")
                    button.btn.btn-outline-secondary(type="button", onclick="togglePassword('inputConfirmar', this)") 👁

                button.btn.btn-primary.w-100(type="submit") Actualizar contraseña

        script(src="/js/restablecerPassword.js")
        script(src="/js/recuperarPassword.js")
