extends layout_modular

block content
  h1.text-center.mb-4 Agregar Nuevo Sector

  form(method="POST" action="/sector/agregar" class="mb-4")
    .row
      .col-md-6
        label(for="nombre") Nombre del Sector:
        input#nombre.form-control(type="text" name="nombre" required)
      .col-md-6.mt-4
        button.btn.btn-success(type="submit") Agregar
    .row.mt-2
      .col-md-12
        a.btn.btn-secondary(href="/sector/lista") Ver Lista de Sectores
