extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      h1 Tipos de Registro Clínico
      
      .table-responsive
        #tablaTiposContainer

        // 📦 Librerías necesarias
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
        script(type="module", src="/js/tiposRegistro.js")

