nav.navbar.navbar-expand.navbar-dark.bg-dark.sb-topnav
  a.navbar-brand.ps-3(href="/") Start Bootstrap
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0
    i.fas.fa-bars
  form.d-none.d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0
  ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-bs-toggle="dropdown", aria-expanded="false")
        i.fas.fa-user.fa-fw
      ul.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
        li: a.dropdown-item(href="#!") Settings
        li: a.dropdown-item(href="#!") Activity Log
        li: hr.dropdown-divider
        li: a.dropdown-item(href="#!") Logout
