div#layoutSidenav_nav
  nav.sb-sidenav.accordion.sb-sidenav-dark(id="sidenavAccordion")
    div.sb-sidenav-menu
      div.nav

        a.nav-link(href="/dashboard")
          div.sb-nav-link-icon
            i.fas.fa-tachometer-alt
          | Panel

        a.nav-link(href="/pacientes")
          div.sb-nav-link-icon
            i.fas.fa-user-injured
          | Pacientes

        a.nav-link(href="/internaciones")
          div.sb-nav-link-icon
            i.fas.fa-procedures
          | Internaciones

        a.nav-link(href="/admisiones")
          div.sb-nav-link-icon
            i.fas.fa-bed
          | Admisiones
