nav.d-flex.flex-column.bg-primary.p-3(style="min-height: 100vh; width: 350px;" id="sidenavAccordion")

  // 🔹 Panel
  a.nav-link.text-white(class=(currentPath == '/dashboard' ? 'active' : '') href="/dashboard" id="link-dashboard")
    i.fas.fa-tachometer-alt.me-2
    | Panel

  // 🔹 Pacientes
  a.nav-link.text-white.collapsed(href="#pacientesSubmenu", data-bs-toggle="collapse", aria-expanded="false")
    i.fas.fa-user-injured.me-2
    | Pacientes
  ul.collapse#pacientesSubmenu(style="list-style-type: none; padding-left: 1rem;")
    li
      a.nav-link.text-white(href="/paciente")
        i.fas.fa-list.me-1
        | Lista de Pacientes
    li
      a.nav-link.text-white(href="/paciente/localidad")
        i.fas.fa-map-marker-alt.me-1
        | Localidad
    li
      a.nav-link.text-white(href="/paciente/genero")
        i.fas.fa-venus-mars.me-1
        | Género
    li
      a.nav-link.text-white(href="/pacientes/camas")
        i.fas.fa-procedures.me-1
        | Camas Asignadas

  // 🔹 Familiar
  a.nav-link.text-white.collapsed(href="#familiarSubmenu", data-bs-toggle="collapse", aria-expanded="false")
    i.fas.fa-users.me-2
    | Familiar
  ul.collapse#familiarSubmenu(style="list-style-type: none; padding-left: 1rem;")
    li
      a.nav-link.text-white(href="/familiar")
        i.fas.fa-list.me-1
        | Lista de Familiares
    li
      a.nav-link.text-white(href="/familiar/parentesco")
        i.fas.fa-sitemap.me-1
        | Parentesco

  // 🔹 Ubicación
  a.nav-link.text-white.collapsed(href="#ubicacionSubmenu", data-bs-toggle="collapse", aria-expanded="false")
    i.fas.fa-map-marked-alt.me-2
    | Ubicación
  ul.collapse#ubicacionSubmenu(style="list-style-type: none; padding-left: 1rem;")
    li
      a.nav-link.text-white(href="/sector")
        i.fas.fa-th-large.me-1
        | Lista de Sectores
    li
      a.nav-link.text-white(href="/habitacion")
        i.fas.fa-bed.me-1
        | Lista de Habitaciones
    li
      a.nav-link.text-white(href="/camas")
        i.fas.fa-procedures.me-1
        | Lista de Camas
    li
      a.nav-link.text-white(href="/camas/reservar")
        i.fas.fa-procedures.me-1
        | Reservar Cama

  // 🔹 Admisiones
  a.nav-link.text-white.collapsed(href="#admisionesSubmenu", data-bs-toggle="collapse", aria-expanded="false")
    i.fas.fa-hospital-user.me-2
    | Admisiones
  ul.collapse#admisionesSubmenu(style="list-style-type: none; padding-left: 1rem;")
    li
      a.nav-link.text-white(href="/admisiones")
        i.fas.fa-list.me-1
        | Lista de Admisiones
    li
      a.nav-link.text-white(href="/paciente/alta")
        i.fas.fa-sign-out-alt.me-1
        | Alta de Paciente
    li
      a.nav-link.text-white(href="/emergencias")
        i.fas.fa-ambulance.me-1
        | Emergencias
    li
      a.nav-link.text-white(href="/obraSocial")
        i.fas.fa-briefcase-medical.me-1
        | Obras Sociales
    li
      a.nav-link.text-white(href="/motivoIngreso")
        i.fas.fa-clipboard-list.me-1
        | Motivos de Ingreso
    li
      a.nav-link.text-white(href="/movimientoHabitacion")
        i.fas.fa-exchange-alt.me-1
        | Movimientos de Habitación
    li
      a.nav-link.text-white(href="/movimiento")
        i.fas.fa-exchange-alt.me-1
        | Tipos de Movimientos

  // 🔹 Usuarios
  a.nav-link.text-white.collapsed(href="#usuariosSubmenu", data-bs-toggle="collapse", aria-expanded="false")
    i.fas.fa-user-cog.me-2
    | Usuarios
  ul.collapse#usuariosSubmenu(style="list-style-type: none; padding-left: 1rem;")
    li
      a.nav-link.text-white(href="/usuario")
        i.fas.fa-users.me-1
        | Lista de Usuarios
