extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      .row.justify-content-center
        .col-md-6
          .card.shadow
            .card-body
              h3.text-center.mb-4= titulo
              p.text-center= mensaje
              .text-center.mt-4
                a.btn.btn-primary(href="/home") Volver al inicio
