extends layout_modular

block content
  .gral-hero.d-flex.align-items-center.justify-content-center.text-center
    .gral-hero-cont
      h1.text-center.px-4.pt-5 Gestión de Sectores


      .table-responsive
        #tablaSectorContainer

        // Librerías DataTables y jQuery
        script(src="https://code.jquery.com/jquery-3.7.1.min.js")
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
        script(type="module", src="/js/sectores.js")  // JS específico para sector
